body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    font-style: normal;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}