//Colors
$accent-color: #2378C9;
$footer-bg-color: #10406F;
$button-color: #5EB8F0;
$white-color: #FFFFFF;
$title-color: #302D2D;
$text-color: #56565E;
$red-color: #F86D6D;
$hover-color: #e94c4c;
$black-color: #000;
$ellipse-color: #C5C1FE;
$advantages-bg-color: #DFEEFC;
$mobile-bg-color: #0E6EAA;
$descr-color: #6B6868;
